# Liabrary

In [2]:
import pandas as pd
import numpy as np

# Data Frame

In [3]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\\Daily_data_of_reservoir_level_of_Central_Water_Commission_(CWC)_Agency_during_March_2024.csv")

In [4]:
df

,Reservoir_name,Basin,Subbasin,Agency_name,Lat,Long,Date,Year,Month,Full_reservoir_level,Live_capacity_FRL,Storage,Level
0,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-01,2024,3,320.04,0.095,0.00810,303.505
1,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-02,2024,3,320.04,0.095,0.00755,303.352
2,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-03,2024,3,320.04,0.095,NaN,NaN
3,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-04,2024,3,320.04,0.095,0.00669,303.093
4,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-05,2024,3,320.04,0.095,0.00621,302.941
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3684,Yeleru,East flowing rivers between Mahanadi and Penna...,Nagvati and other,CWC,17.303703,82.051441,2024-03-27,2024,3,86.56,0.508,NaN,NaN
3685,Yeleru,East flowing rivers between Mahanadi and Penna...,Nagvati and other,CWC,17.303703,82.051441,2024-03-28,2024,3,86.56,0.508,NaN,71.421
3686,Yeleru,East flowing rivers between Mahanadi and Penna...,Nagvati and other,CWC,17.303703,82.051441,2024-03-29,2024,3,86.56,0.508,NaN,NaN
3687,Yeleru,East flowing rivers between Mahanadi and Penna...,Nagvati and other,CWC,17.303703,82.051441,2024-03-30,2024,3,86.56,0.508,NaN,NaN
3688,Yeleru,East flowing rivers between Mahanadi and Penna...,Nagvati and other,CWC,17.303703,82.051441,2024-03-31,2024,3,86.56,0.508,NaN,NaN

In [5]:
df.head(3)

,Reservoir_name,Basin,Subbasin,Agency_name,Lat,Long,Date,Year,Month,Full_reservoir_level,Live_capacity_FRL,Storage,Level
0,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-01,2024,3,320.04,0.095,0.00810,303.505
1,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-02,2024,3,320.04,0.095,0.00755,303.352
2,Aliyar Reservoir,West flowing rivers from Tadri to Kanyakumari ...,Varrar and others,CWC,10.472668,76.974597,2024-03-03,2024,3,320.04,0.095,NaN,NaN

In [6]:
df.columns

Index(['Reservoir_name', 'Basin', 'Subbasin', 'Agency_name', 'Lat', 'Long',
       'Date', 'Year', 'Month', 'Full_reservoir_level', 'Live_capacity_FRL',
       'Storage', 'Level'],
      dtype='object')

# Observation

Dependent Column - Storage,Level

Independent Column - Reservoir_name, Basin, Subbasin, Agency_name, Lat, Long,
       Date, Year, Month, Full_reservoir_level, Live_capacity_FRL
## Supervised

In [7]:
Continuous_Column=['Full_reservoir_level','Live_capacity_FRL','Storage','Level']
Categorical_Column=['Reservoir_name','Basin','Subbasin','Agency_name','Date','Year','Month']

# Data Cleaning

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3689 entries, 0 to 3688
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Reservoir_name        3689 non-null   object
 1   Basin                 3689 non-null   object
 2   Subbasin              3689 non-null   object
 3   Agency_name           3689 non-null   object
 4   Lat                   3689 non-null   float64
 5   Long                  3689 non-null   float64
 6   Date                  3689 non-null   object
 7   Year                  3689 non-null   int64
 8   Month                 3689 non-null   int64
 9   Full_reservoir_level  3689 non-null   float64
 10  Live_capacity_FRL     3689 non-null   float64
 11  Storage               2578 non-null   float64
 12  Level                 2596 non-null   float64
dtypes: float64(6), int64(2), object(5)
memory usage: 374.8+ KB

In [9]:
df.describe()

,Lat,Long,Year,Month,Full_reservoir_level,Live_capacity_FRL,Storage,Level
count,3689.000000,3689.000000,3689.0,3689.0,3689.000000,3689.000000,2578.000000,2596.000000
mean,19.728165,77.436575,2024.0,3.0,398.518319,1.409464,0.427417,408.343594
std,5.183895,4.439938,0.0,0.0,241.598515,1.825011,0.535977,234.593849
min,8.920001,70.403043,2024.0,3.0,55.000000,0.006000,0.000060,47.730000
25%,16.317208,73.904185,2024.0,3.0,169.000000,0.288000,0.136277,188.422500
50%,20.184219,76.489168,2024.0,3.0,359.660000,0.664000,0.226185,389.008500
75%,23.073705,79.181634,2024.0,3.0,594.360000,1.711000,0.526715,599.635000
max,32.484470,94.295566,2024.0,3.0,1002.790000,9.745000,5.233000,970.380000

In [10]:
df.isnull().sum()

Reservoir_name             0
Basin                      0
Subbasin                   0
Agency_name                0
Lat                        0
Long                       0
Date                       0
Year                       0
Month                      0
Full_reservoir_level       0
Live_capacity_FRL          0
Storage                 1111
Level                   1093
dtype: int64

In [11]:
# Handling Missing Values
df['Storage'].fillna(df['Storage'].median(),inplace=True) 
df['Level'].fillna(df['Level'].mean(),inplace=True)

C:\Users\Saravanan\AppData\Local\Temp\ipykernel_16288\3915770113.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Storage'].fillna(df['Storage'].median(),inplace=True)
C:\Users\Saravanan\AppData\Local\Temp\ipykernel_16288\3915770113.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Level'].fillna(df['Level'].mean(),inplace=True)

In [12]:
df.isnull().sum()

Reservoir_name          0
Basin                   0
Subbasin                0
Agency_name             0
Lat                     0
Long                    0
Date                    0
Year                    0
Month                   0
Full_reservoir_level    0
Live_capacity_FRL       0
Storage                 0
Level                   0
dtype: int64

In [13]:
df.duplicated().sum()

0

# Statistical analysis
Continuous - Central Limit Theorem, 1-Tailed Test (one-sample t-test)

Continuous vs. Continuous - Correlation, 2-Tailed Test (two-sample t-test)

Continuous vs. Categorical - ANOVA (Analysis of Variance)

Categorical vs. Categorical - Chi-Square Test

In [15]:
numeric_df = df.select_dtypes(include='number')
correlation_matrix = numeric_df.corr()
correlation_matrix

,Lat,Long,Year,Month,Full_reservoir_level,Live_capacity_FRL,Storage,Level
Lat,1.000000,0.180024,NaN,NaN,-0.326598,0.174613,0.154674,-0.318237
Long,0.180024,1.000000,NaN,NaN,-0.139481,0.042064,0.024016,-0.171175
Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Full_reservoir_level,-0.326598,-0.139481,NaN,NaN,1.000000,-0.064939,0.004264,0.820951
Live_capacity_FRL,0.174613,0.042064,NaN,NaN,-0.064939,1.000000,0.474390,-0.025436
Storage,0.154674,0.024016,NaN,NaN,0.004264,0.474390,1.000000,-0.030067
Level,-0.318237,-0.171175,NaN,NaN,0.820951,-0.025436,-0.030067,1.000000

In [ ]:
Continuous_Column=['Full_reservoir_level','Live_capacity_FRL','Storage','Level']
Categorical_Column=['Reservoir_name','Basin','Subbasin','Agency_name','Date','Year','Month']

In [28]:
def hypothesis_testing(df,Continuous_Column=[],Categorical_Column=[],sample_rate=20,sample_frac=0.05):
    df=df
    # central limit theoram
    onecontinuouscolumn_Result={}
    hypothesis_df=pd.DataFrame(columns=df.columns,index=df.columns)
    if Continuous_Column:
        sample_size=int(sample_rate*len(df[Continuous_Column[0]]))
        for column in Continuous_Column:
            population=df[column].values
            population_mean=population.mean()
            sample_mean=[]
            for i in range(40):
                sample=np.random.choice(population,sample_size)
                sample_mean.append(sample.mean())
            onecontinuouscolumn_Result[column]={
                "Population Mean":population_mean,
                "Sample Mean":{np.mean(sample_mean)}
                                                }
    return onecontinuouscolumn_Result,hypothesis_df

In [29]:
ContinuousColumn_result=hypothesis_testing(df,Continuous_Column)

In [30]:
ContinesColumn_result_df = pd.DataFrame(ContinuousColumn_result)
ContinesColumn_result_df

,Full_reservoir_level,Live_capacity_FRL,Storage,Level,Reservoir_name,Basin,Subbasin,Agency_name,Lat,Long,Date,Year,Month
0,"{'Population Mean': 398.5183193277311, 'Sample...","{'Population Mean': 1.4094638655462186, 'Sampl...","{'Population Mean': 0.3668128069937653, 'Sampl...","{'Population Mean': 408.34359437596305, 'Sampl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...,Reservoir_name NaN Basin ...